.sidebar button {
    width: 100%;
    text-align: left;
}

.sidebar i {
    width: 20px; 
}

table.Coupon input[name="CouponFilter_level"] {
    display: none;
}

.support-box {
    width: 31%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
}

table#sortable thead tr th {
    font-weight: bold;
}

table#sortable input {
    border: none;
    margin-left: 10px;
    background: transparent;
}

/* Fix display bug -> translatable fields with descriptions */
.bootstrap form .form-group .form-group {
    margin-bottom: 0;
}

/* Fix chosen width bug */
form .chosen-container {
    min-width: 300px !important;
}

form .chosen-container-multi {
    width: 100% !important;
}


/* Documentation */
#content.bootstrap #krona-docs {
    font-size: 13px;
    line-height: 22px;
}

#content.bootstrap #krona-docs p {
    margin: 15px 0;
}

#content.bootstrap #krona-docs h2 {
    margin: 30px 0 5px 0;
}

#content.bootstrap #krona-docs h3 {
    border: none;
    margin: 20px 0 5px 0;
    padding: 0;
    font-size: 20px;
    text-transform: none;
}

#content.bootstrap #krona-docs img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}


